* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.input {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 240px;
}

.badge {
  position: relative;
  &:after {
    content: 'Hiring!';
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1px 14px;
    gap: 10px;
    width: fit-content;
    position: absolute;
    top: -20px;
    left: 100%;

    background: $color-brand-2;
    border-radius: 120px;

    @include font (1.3rem, 2.8rem, 700);
    color: $color-brand-1;

    @include media-desktop-s {
      right: -10px;
    }

  }
}
