h1 {
  font-family: 'Manrope', sans-serif;
  @include font (4.3rem, 100%, 700);
}

h2 {
  font-family: 'Manrope', sans-serif;
  @include font (6.4rem, 8.4rem, 400);

  @include media-mobile {
    @include font (3.5rem, 130%, 400);
  }
}

h3 {
  font-family: 'Manrope', sans-serif;
  @include font (4.8rem, 7.2rem, 400);

  &.h3_white {
    color: $white;
  }

  &.h3_black {
    color: $black;
  }

  @include media-mobile {
    @include font (2.8rem, 150%, 400);
  }
}

.nav-link-font {
  font-family: 'Open Sans', sans-serif;
  @include font (1.6rem, 2.8rem, 600);
  /* Dark Blue */
  color: $color-brand-1;
}

.nav-link-btn-font {
  font-family: 'Open Sans', sans-serif;
  @include font (1.6rem, 2.4rem, 700);
  /* Dark Blue */
  color: $color-brand-1;
}

.category-title {
  font-family: 'Open Sans', sans-serif;
  @include font (1.6rem, 2.8rem, 700);
  /* Dark Blue */
  color: $color-brand-1;
}

.paragraphs-xs {
  font-family: 'Open Sans', sans-serif;
  @include font (1.6rem, 2.8rem, 400);

  &_black {
    color: $white;
  }

  &_gray {
    /* Gray */
    color: $color-light;
  }
}

.paragraphs-s, %paragraphs-s {
  font-family: 'Open Sans', sans-serif;
  @include font (2rem, 3.2rem, 400);

  &_black {
    color: $black;
  }

  &_colored {
    /* Dark Blue */
    color: $color-brand-1;
  }

  &_gray {
    /* Gray */
    color: $color-light;
  }

  @include media-mobile {
    @include font (1.5rem, 160%, 400);
  }
}

.btn-font, %btn-font {
  font-family: 'Open Sans', sans-serif;
  @include font (2rem, 2.48rem, 700);
  /* Dark Blue */

  color: $color-brand-1;

  @include media-mobile {
    @include font (1.8rem, 2.2rem, 600);
  }
}


