h1 {
  font-family: 'Manrope', sans-serif;
  @include font (4.3rem, 100%, 700);
}

h2 {
  font-family: 'Manrope', sans-serif;
  @include font (6.4rem, 8.4rem, 400);
}

h3 {
  font-family: 'Manrope', sans-serif;
  @include font (4.8rem, 7.2rem, 400);

  &_white {
    color: $white;
  }

  &_black {
    color: $white;
  }
}

.nav-link-font {
  font-family: 'Open Sans', sans-serif;
  @include font (1.6rem, 2.8rem, 600);
  /* Dark Blue */
  color: $color-brand-1;
}

.nav-link-btn-font {
  font-family: 'Open Sans', sans-serif;
  @include font (1.6rem, 2.4rem, 700);
  /* Dark Blue */
  color: $color-brand-1;
}

.category-title {
  font-family: 'Open Sans', sans-serif;
  @include font (1.6rem, 2.8rem, 700);
  /* Dark Blue */
  color: $color-brand-1;
}

.paragraphs-xs {
  font-family: 'Open Sans', sans-serif;
  @include font (1.6rem, 2.8rem, 400);

  &_black {
    color: $white;
  }

  &_gray {
    /* Gray */
    color: $color-light;
  }
}

.paragraphs-s {
  font-family: 'Open Sans', sans-serif;
  @include font (2rem, 3.2rem, 400);

  &_black {
    color: $white;
  }

  &_colored {
    /* Dark Blue */
    color: $color-brand-1;
  }

  &_gray {
    /* Gray */
    color: $color-light;
  }
}

.btn-font {
  font-family: 'Open Sans', sans-serif;
  @include font (2rem, 2.8rem, 700);
  /* Dark Blue */

  color: $color-brand-1;
}


