$black: #000000;
$white: #FFFFFF;
$color-brand-1: #0A2640;
$color-brand-1-light-m: lighten($color-brand-1, 70);
$color-brand-1-light-s: lighten($color-brand-1, 20);
$color-brand-2: #65E4A3;
$color-brand-2-light: lighten($color-brand-2, 70);
//$color-brand-3: #0DBBFC;

$color-light: #777777;

$content-width: 1400px