.latest-news {
  .latest-news__wrapper {
    padding-top: 96px;
    padding-bottom: 94px;
    margin: 0 auto;
    max-width: 1200px;
  }
}

.latest-news__title {
  margin-bottom: 40px;
}

.latest-news__cards-container {
  max-height: 928px;
  overflow: hidden;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 96px;

  @include media-tablet {
    grid-row-gap: 50px;
  }

  @include media-mobile {
    grid-row-gap: 30px;
  }
}

.latest-news__btn {
  margin: 0 auto;
}