.news-card {
  max-height: 424px;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s ease-out;

    &:hover {
      transform: scale(1.01);
    }

    .news-data {
      margin-bottom: 12px;
    }

    .news-card__image {
      height: 209px;
      width: 100%;
      border-radius: 12px;
      overflow: hidden;
      margin-bottom: 24px;

      @include media-mobile {
        height: 150px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .news-card__description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-grow: 1;
    }

    .news-data {
      flex-grow: 0;
    }

    .news-card__title {
      margin-bottom: 20px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      flex-grow: 1;

      @include media-mobile {
        margin-bottom: 12px;
      }
    }

    .author {
      flex-grow: 0;
    }
  }


