.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 45px;
  align-items: center;

  @include media-mobile {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 4rem;

  @media  screen and (max-width: 768px) {
    display: none;
  }
}

.navigation__link {
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    .nav-link-font {
      color: $color-brand-1-light-s;
    }
  }
}